body {
    font-family: 'Arial, sans-serif';
    background-color: #E1CCCC;
    margin: 0;
    padding: 0;
  }
  
  .forgot-password-page {
    background-color: #E1CCCC;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
  }
  
  .forgot-password-page h2 {
    margin-bottom: 20px;
  }
  
  .forgot-password-form {
    display: flex;
    flex-direction: column;
    background-color: #EBEBEB;
    padding: 20px;
    border-radius: 10px;
  }
  
  .forgot-password-form label {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    text-align: right;
    direction: rtl;
  }
  
  .forgot-password-form span {
    margin-left: 10px;
    white-space: nowrap;
  }
  
  .forgot-password-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #D9D9D9;
  }
  
  .password-hint {
    font-size: 12px;
    color: black;
    text-align: right;
    margin-top: 5px;
  }
  
  .input-with-button {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .input-with-button input {
    flex: 1;
    padding-right: 90px;
  }
  
  .input-with-button .send-code-button {
    position: absolute;
    right: 85%;
    margin-bottom: 10px;
    height: calc(100% - 20px);
    padding: 0 10px;
    border: none;
    background-color: #888;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
  }
  
  button {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    cursor: pointer;
    flex: 1;
    margin-right: 10px;
  }
  
  button[type="button"].back-button {
    background-color: #888;
    margin-right: 0;
  }
  
  .login-link {
    margin-top: 20px;
  }
  